body, html {
  height: 100%;
  min-width: 100%;
  margin: 0px auto;
}

body {
	text-align: center;
	background: #CFD8DC;
	box-shadow: inset 0px 0px 10px #1a1a1a;
}

.site-wrapper-inner {
  margin-top: 3em;
}

.title {
  position: justify;
  line-height: 2em;
  color: black;
  font-size: 1.2em;
  font-family: 'Ubuntu', serif;
}

.media-body {
  text-align: center;
  margin-top: 1em;
}

.info {
  text-align: justify;
  width: 50%;
  margin-left: 38%;
  margin-right: 75%;
}

.form-group {
  width: 300px;
  margin: 0 auto;
}

.district-list {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-sm {
  width: 30%;
  margin-left: 38%;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .info {
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
    display: inline;
  }

  td {
    display: table-row-group;
  }
}