/* The Navigation at the top of the website */
.justify-content-center{ 
    max-width: 100%;    
    min-width: 1920px; 
}

.nav-item {
	margin-top: 1em;
	z-index: 9999;
	}
	
a:hover {
	color: #90CAF9;
}

.nav-link {
	position: relative;
	color: #1976D2;
}

@media only screen and (max-width: 1919px){ 
	.justify-content-center{ 
		max-width: 100%;    
		min-width: 0px; 
	}

}