body, html {
    height: 100%;
    margin: 0;
	}

body {
	text-align: center;
	background-image: url("/static/background-blurred-min.jpg");
	background-size: cover;
	box-shadow: inset 0px 0px 30px #1a1a1a;
    text-shadow: 0px 0px 0.1px;
	}

.site-wrapper {
	width: 100%;
	min-height: 100%;
	}

.tab-content {
	text-align: left;
	margin-top: 10px;
	margin-left: 35%;
	margin-right: 20%;
}

.card {
	background: transparent;
}

.mla_link {
	color: #0066cc;
	background: transparent;
}

/* The inner description and image */
.inner-cover {
	margin-top: 5%;
	font-weight: lighter;
	color: #132639;
	font-size: 20px;
	}

.image {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: solid 3px #e6e6e6;
	box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.4);
	align-self: center;
	}

.cover-heading {
	font-weight: lighter;
	font-size: 38px
	}

.lead {
	margin: 10px;
	font-size: 22px;	
	}	

.mastfoot {
	position: fixed;
	align-self: center;
	min-width: 100%;
}
.fa-github {
	margin-right: 14px;
}

@media only screen and (max-width: 768px){
	.tab-content {
		text-align: left;
		margin-top: 4px;
		margin-left: 1em;
	}
}